@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.main{
    background-image: url(../fts/Teste\ copo\ pequeno.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #0476D9;
    padding: 0;
}
